.assetIoFed {
  flex: 1;
  display: flex;
  flex-direction: column;
  .wrapperContent {
    flex: 1;
    display: flex;
    color: $primary-color;
    .scrollWrap {
      height: unset !important;
      width: unset !important;
      flex: 1;
      .scrollView {
        .listItem {
          height: 150px;
          border-bottom: 1px solid $border-color;
          padding: 0 70px;
          display: flex;
          align-items: center;
          img {
            height: 30%;
          }
          .name {
            margin-left: 20px;
            font-size: 26px;
            font-weight: 600;
          }
          .percent {
            margin-left: auto;
            font-size: 22px;
          }
          .btnChange {
            height: 24%;
            padding: 0 22px;
            cursor: pointer;
            border: 1px solid $border-color;
            display: flex;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
          }
          &:hover {
            background: whitesmoke;
          }
        }
      }
    }
    .fedralReserve {
      display: none;
      flex: 0 0 32%;
      border-left: 1px solid $border-color;
      padding: 60px;
      flex-direction: column;
      justify-content: space-between;
      .head {
        line-height: 1;
        .title {
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .subTitle {
          font-size: 18px;
        }
      }
      .group {
        .label {
          display: flex;
          font-size: 18px;
          justify-content: space-between;
          align-items: center;
          .btnSwitch {
            font-size: 14px;
            span {
              cursor: pointer;
              &.true {
                font-weight: bold;
              }
            }
          }
        }
        input {
          width: 100%;
          height: 60px;
          background: none;
          border: 1px solid $border-color;
          font-size: 20px;
          padding: 0 40px;
          text-align: right;
        }
      }
      .btnDeclareRate {
        border: 1px solid $primary-color;
        margin-right: auto;
        padding: 15px 30px;
      }
    }
    &.true {
      .scrollWrap {
        .scrollView {
          .listItem {
            .btnChange {
              display: none;
            }
          }
        }
      }
      .fedralReserve {
        display: flex;
      }
    }
  }
}
