:root {
  --card-color: #484848;
}
$card-color: var(--card-color);

.cardsPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
  .headLogoArea {
    margin-top: 1%;
    flex: 0 0 16%;
    max-height: 16%;
    display: flex;
    .logoWrapper {
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      .logo {
        max-height: 90px;
        height: 77%;
        width: auto;
        object-fit: contain;
      }
      .poweredBy {
        height: 23%;
        align-self: flex-end;
        .power {
          fill: $card-color;
        }
      }
    }
  }
  .carousel-wrapper {
    flex: 0 0 33%;
    overflow: hidden;
    position: relative;
    display: flex;
    .carousel-horizontal {
      margin: auto 0;
      width: 100%;
      height: 100%;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
      .masterCard {
        opacity: 0.6;
        transition: transform 1s ease;
        position: absolute;
        margin: auto;
        width: auto;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        .appLogo {
          width: auto;
          max-width: 100%;
          height: 100%;
          object-fit: contain;
          align-self: start;
        }
        &.prev {
          transform: translate3d(-140%, 0, -300px);
        }

        &.next {
          transform: translate3d(140%, -0, -300px);
        }

        &.active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        &.inactive {
          transform: translate3d(0, 0, -500px);
        }
      }
    }
    .controlls {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .indicator {
        cursor: pointer;
        opacity: 0.5;
        background-color: white;
        height: 15px;
        width: 15px;
        border-radius: 7.5px;
        margin: 10px 0;
        &.true {
          opacity: 1;
        }
      }
    }
  }
  .desc {
    width: 28%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $card-color;
    span {
      font-weight: 600;
      cursor: pointer;
    }
  }
  .btnRegister {
    cursor: pointer;
    display: flex;
    border: 1px solid $card-color;
    color: $card-color;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    position: relative;
    overflow: hidden;
    .btnLogo {
      margin-left: 10px;
      height: 23px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &::before {
      content: "";
      background-color: white;
      width: 100%;
      height: 40px;
      position: absolute;
      left: -100%;

      @include transform(rotateZ(45deg));
    }
    &:hover {
      border-color: $card-color;
      background: $card-color;
      color: white;
      .btnLogo {
        filter: brightness(0) invert(1);
      }
      &::before {
        @include transition(all 0.4s ease);
        left: 100%;
      }
    }
  }
  .closeBtn {
    cursor: pointer;
    position: fixed;
    top: 80px;
    right: 80px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    &::before {
      position: absolute;
      content: "";
      background: $card-color;
      height: 100%;
      width: 3px;
      margin: auto;
    }
    &::after {
      position: absolute;
      content: "";
      background: $card-color;
      height: 3px;
      width: 100%;
      margin: auto;
    }
  }
}
