.filterSidebar {
  flex: 0 0 500px;
  border-left: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  .scrollTabHead {
    height: 90px !important;
    border-bottom: 1px solid $border-color;
    > div {
      display: flex;
      .tab {
        flex: 0 0 28%;
        padding-bottom: 20px;
        line-height: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        opacity: 0.5;
        color: $primary-color;
        cursor: pointer;
        &.true {
          padding-bottom: 17px;
          font-weight: 600;
          font-size: 23px;
          opacity: 1;
          border-bottom: 3px solid $primary-color;
        }
      }
    }
  }
  .sideBarAppSelect {
    height: 0;
    flex: 1;
    width: 100% !important;
  }
  .filterConfig {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    .inpBox {
      border: 1px solid $border-color;
      display: flex;
      height: 65px;
      margin-bottom: 40px;
      .labelBox {
        flex: 0 0 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }
      .inputBox {
        padding: 0 20px;
        font-size: 19px;
        outline: none;
        border: none;
        border-left: 1px solid $border-color;
        flex: 1;
      }
    }
  }
  .btnsResetFilter {
    margin-top: auto;
    height: 70px;
    display: flex;
    .btns {
      cursor: pointer;
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #050505;
      color: white;
      font-size: 20px;
      &.inv {
        color: #050505;
        background: white;
      }
    }
  }
}
