.TransactionsLayout,
.FundingLayout {
  flex: 1;
  .withdrawalView {
    display: flex;
    flex: 1;
    .withdrawalViewContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      .viewingAs {
        flex: 0 0 80px;
      }
      .withdrawListNFilter {
        display: flex;
        flex: 1;
        .withdrawListWrapper {
          width: 0 !important;
          flex: 1;
          display: flex;
          .withdrawList {
            background: white;
            display: flex;
            padding: 1px;
            padding: 30px 50px;
            .typeColoumn {
              flex: 0 0 30%;
              margin-right: 3.3%;
              display: flex;
              flex-direction: column;
              border: 1px solid $border-color;
              .head {
                position: relative;
                background: $primary-color;
                height: 45px;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                svg {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 20px;
                  margin: auto;
                }
              }
              .columScrlWrap {
                height: 0 !important;
                flex: 1;
                display: flex;
                .coloumnScroll {
                  padding: 15px;
                  display: flex;
                  flex-direction: column;
                  .transactionItm {
                    border: 1px solid $border-color;
                    flex: 0 0 300px;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .cardHead {
                      height: 50px;
                      padding: 0 30px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      border-bottom: 1px solid $border-color;
                      > div {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .banker {
                          font-size: 16px;
                          font-weight: 600;
                          margin: 0 6px;
                        }
                        .bankerLogo {
                          height: 40%;
                          width: auto;
                        }
                      }
                      .coinSel {
                        position: relative;
                        cursor: pointer;
                        .coinList {
                          top: 100%;
                          left: 0;
                          right: 0;
                          position: absolute;
                          display: flex;
                          flex-direction: column;
                          .coin {
                            height: 40px;
                            border: 1px solid $border-color;
                            display: flex;
                            align-items: center;
                            line-height: 1;
                            background: white;
                            z-index: 1;
                          }
                        }
                      }
                    }
                    .cardContent {
                      flex: 1;
                      padding: 30px 0;
                      .nameNativeValue {
                        padding: 0 30px;
                        display: flex;
                        font-weight: 600;
                        font-size: 16px;
                        justify-content: space-between;
                        span {
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          &:last-child {
                            text-overflow: unset;
                          }
                        }
                      }
                      .emailUsdValue {
                        margin-top: 4px;
                        padding: 0 30px;
                        display: flex;
                        font-weight: 400;
                        font-size: 14px;
                        justify-content: space-between;
                        span {
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          &:last-child {
                            text-overflow: unset;
                          }
                        }
                      }
                      .btnScrlWrap {
                        margin-top: 30px;
                        height: 58px !important;
                        .btnScrlList {
                          display: flex;
                          padding: 4px 30px;
                          .btnAction {
                            cursor: pointer;
                            font-size: 14px;
                            height: 100%;
                            flex: 0 0 36%;
                            margin-right: 4%;
                            display: flex;
                            border: 1px solid $border-color;
                            justify-content: center;
                            align-items: center;
                            white-space: nowrap;
                            padding: 0 20px;
                          }
                          &::after {
                            content: "";
                            height: 100%;
                            flex: 0 0 20px;
                          }
                        }
                      }
                    }
                    .cardFooter {
                      height: 40px;
                      padding: 0 30px;
                      font-size: 15px;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      font-weight: 600;
                      &.processing {
                        background: #e87d6d;
                      }
                      &.issued {
                        background: #95d6a4;
                      }
                      &.cancelled {
                        background: #484848;
                        color: white;
                      }
                    }
                  }
                }
              }
            }
            &::after {
              content: "";
              height: 100%;
              flex: 0 0 1px;
              .withdrawListWrapper {
                width: 0 !important;
                flex: 1;
                display: flex;
                flex-direction: column;
                .withdrawList {
                  flex: 1;
                  background: white;
                  display: flex;
                  flex-direction: column;
                  padding: 1px;
                  .userItemWithdraw {
                    border-bottom: 1px solid $border-color;
                    background: white;
                    height: 70px;
                    flex: 0 0 14.29%;
                    padding: 0 70px;
                    display: flex;
                    align-items: center;
                    .profileImg {
                      height: 34px;
                      width: 34px;
                      border-radius: 17px;
                    }
                    .email {
                      margin-left: 15px;
                      flex: 0 0 23%;
                      .shName {
                        display: none;
                      }
                    }
                    .date {
                      flex: 0 0 23%;
                    }
                    .value {
                      flex: 0 0 23%;
                      .shUsd {
                        display: none;
                      }
                    }
                    .actions {
                      height: 100%;
                      margin-left: auto;
                      flex: 0 0 22%;
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                      .btnAction {
                        cursor: pointer;
                        margin-left: 20px;
                        flex: 0 0 28%;
                        height: 40%;
                        font-size: 14px;
                        border: 1px solid $border-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        svg {
                          margin-left: 15px;
                        }
                        .dropList {
                          height: 200%;
                          width: 100%;
                          top: 100%;
                          left: 0;
                          right: 0;
                          .drop {
                            border-top: 1px solid $border-color;
                            height: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }
                        }
                        &:hover {
                          background: $primary-color;
                          color: white;
                          font-weight: 500;
                        }
                      }
                    }
                    &:hover {
                      background: #fcfcfc;
                      * {
                        zoom: 1.05;
                      }
                      .email {
                        .shName {
                          display: block;
                        }
                        .shEmail {
                          display: none;
                        }
                      }
                      .value {
                        .shUsd {
                          display: block;
                        }
                        .shNative {
                          display: none;
                        }
                      }
                    }
                    @include xxxl {
                      zoom: 0.9;
                      .date {
                        flex: 0 0 25%;
                      }
                      .value {
                        flex: 0 0 16%;
                      }
                      .actions {
                        flex: 0 0 32%;
                        .btnAction {
                          margin-left: 3%;
                          flex: 0 0 30%;
                        }
                      }
                    }
                    @include xl {
                      zoom: 0.8;
                    }
                    @include lg {
                      zoom: 0.76;
                    }
                  }
                }
              }
            }
          }
        }
        .withdrawListWrapperAsList {
          width: 0 !important;
          flex: 1;
          display: flex;
          flex-direction: column;
          .withdrawList {
            flex: 1;
            background: white;
            display: flex;
            flex-direction: column;
            padding: 1px;
            .userItemWithdraw {
              border-bottom: 1px solid $border-color;
              background: white;
              height: 70px;
              flex: 0 0 14.29%;
              padding: 0 70px;
              display: flex;
              align-items: center;
              .profileImg {
                height: 34px;
                width: 34px;
                border-radius: 17px;
              }
              .email {
                margin-left: 15px;
                flex: 0 0 23%;
                .shName {
                  display: none;
                }
              }
              .date {
                flex: 0 0 23%;
              }
              .value {
                flex: 0 0 23%;
                .shUsd {
                  display: none;
                }
              }
              .actions {
                height: 100%;
                margin-left: auto;
                flex: 0 0 22%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .btnAction {
                  cursor: pointer;
                  margin-left: 20px;
                  flex: 0 0 28%;
                  height: 40%;
                  font-size: 14px;
                  border: 1px solid $border-color;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  svg {
                    margin-left: 15px;
                  }
                  .dropList {
                    border: 1px solid $border-color;
                    border-top: none;
                    position: absolute;
                    height: 200%;
                    top: 100%;
                    left: -1px;
                    right: -1px;
                    z-index: 2;
                    font-size: 12px;
                    .drop {
                      border-top: 1px solid $border-color;
                      background: white;
                      font-weight: normal;
                      color: $primary-color;
                      height: 50%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      &:hover {
                        background: $primary-color;
                        color: white;
                        font-weight: 500;
                      }
                    }
                  }
                  &:hover {
                    background: $primary-color;
                    color: white;
                    font-weight: 500;
                  }
                }
              }
              &:hover {
                background: #fcfcfc;
                * {
                  zoom: 1.05;
                }
                .email {
                  .shName {
                    display: block;
                  }
                  .shEmail {
                    display: none;
                  }
                }
                .value {
                  .shUsd {
                    display: block;
                  }
                  .shNative {
                    display: none;
                  }
                }
              }
              @include xxxl {
                zoom: 0.9;
                .date {
                  flex: 0 0 25%;
                }
                .value {
                  flex: 0 0 16%;
                }
                .actions {
                  flex: 0 0 32%;
                  .btnAction {
                    margin-left: 3%;
                    flex: 0 0 30%;
                  }
                }
              }
              @include xl {
                zoom: 0.8;
              }
              @include lg {
                zoom: 0.76;
              }
            }
          }
        }
        .filters {
          flex: 0 0 30%;
          border-left: 1px solid $border-color;
          flex-direction: column;
          display: flex;
          .head {
            flex: 0 0 14.29%;
            padding: 0 60px;
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 600;
            border-bottom: 1px solid $border-color;
          }
          .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 40px 0 0 60px;
            overflow: hidden;
            .hTab {
              height: 45px;
              width: 100%;
              display: flex;
              overflow: auto;
              .tabItm {
                height: 100%;
                flex: 0 0 28%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid $border-color;
                &.true {
                  justify-content: flex-start;
                  font-size: 20px;
                  font-weight: 500;
                }
              }
            }
            .filterContents {
              flex: 1;
              display: flex;
              flex-direction: column;
              width: 95%;
              justify-content: space-evenly;
              .inputRow {
                display: flex;
                justify-content: space-between;
                .grp {
                  flex: 0 0 47%;
                  .label {
                    font-size: 15px;
                  }
                  input {
                    border: 1px solid $border-color;
                    width: 100%;
                    height: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                  }
                }
              }
            }
          }
          .footerBtns {
            height: 55px;
            border-top: 1px solid $border-color;
            display: flex;
            .btnReset {
              flex: 0 0 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #050505;
              color: white;
              font-weight: 60;
              font-weight: 600;
            }
            .btnFilter {
              flex: 0 0 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: white;
              color: #050505;
              font-weight: 60;
              font-weight: 600;
            }
          }
        }
        &.true {
          .withdrawListWrapper {
            .withdrawList {
              .userItemWithdraw {
                zoom: 0.9;
                .date {
                  flex: 0 0 28%;
                }
              }
            }
          }
        }
      }
    }
  }
  .sideBarAppSelect {
    width: 320px !important;
    border-left: 1px solid $border-color;
    margin-left: auto;
    .view {
      display: flex;
      flex-direction: column;
      .headSearach {
        position: sticky;
        top: 0;
        background: white;
        flex: 0 0 80px;
        border-bottom: 1px solid $border-color;
        display: flex;
        margin: 0;
        .inpSearch {
          height: 100%;
          width: 100%;
          background: none;
          border: none;
          outline: none;
          padding: 0 20px;
        }
      }
      .appPublication {
        flex: 0 0 16%;
        border-bottom: 1px solid $border-color;
        padding: 20px;
        display: flex;
        align-items: center;
        overflow: hidden;
        img {
          height: 40px;
          width: 40px;
          margin-right: 8px;
        }
        .nameNbtns {
          flex: 1;
          width: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-right: 30px;
          .name {
            width: 100%;
            font-weight: 600;
            font-size: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .btns {
            display: flex;
            .btnAction {
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid $border-color;
              font-size: 12px;
              color: rgb(109, 109, 109);
              width: 35%;
              margin-right: 6px;
            }
          }
        }
        &:hover {
          background: rgba(239, 239, 239, 0.26);
        }
      }
      .showAllApp {
        margin-top: auto;
        position: sticky;
        bottom: 0;
        height: 60px;
        flex: 0 0 60px;
        background: $primary-color;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
}
