.landing-nav {
  background: white;
  display: flex;
  padding: 0 80px;
  height: 110px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
  &.true {
    padding: 0;
    padding-left: 80px;
  }
  .market-logo {
    height: 55%;
  }
  .nav-menu {
    display: flex;
    .bt-login {
      position: relative;
      overflow: hidden;
      min-width: 170px;
      white-space: nowrap;
      cursor: pointer;
      border: 1px solid $primary-color;
      border-radius: 4px;
      color: $primary-color;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      padding: 12px;
      font-size: 16px;
      height: 50px;
      text-decoration: none;
      img {
        height: 22px;
        width: 22px;
        margin-right: 6px;
      }
      .insider {
        background-color: white;
        width: 100%;
        height: 40px;
        position: absolute;
        left: -100%;

        @include transform(rotateZ(45deg));
      }
      &:hover {
        border: 1px solid $primary-color;
        background: $primary-color;
        color: white;
        svg {
          path {
            fill: $app-color;
          }
        }
        .insider {
          @include transition(all 0.4s ease);
          left: 100%;
        }
      }
    }
  }
  .box {
    width: 500px;
    height: 100%;
    border-left: 1px solid $border-color;
    display: flex;
    align-items: center;
    .logo {
      height: 55%;
      margin: auto;
      margin-left: 20px;
      border: none;
      outline: none;
      .app,
      .wallet {
        display: none;
      }
    }
    .logoIp {
      height: 55%;
      flex: 1;
      margin: auto;
      margin-left: 40px;
      border: none;
      outline: none;
      .app,
      .wallet {
        display: none;
      }
    }
  }
  .hamburger {
    display: none !important;
  }
  @include md {
    padding: 0 !important;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 70px;
    padding: 0;
    justify-content: center;
    .nav-menu,
    .box {
      display: none;
    }
    .hamburger {
      display: flex !important;
      position: fixed;
      top: 0;
      left: 0;
      bottom: calc(100% - 70px);
      z-index: 2;
    }
    .navDrawer {
      z-index: 1;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      padding-bottom: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .mobileNavLogo {
        width: 70%;
        height: auto;
      }
      .navItem {
        font-size: 20px;
        color: $primary-color;
        &.true {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .carousel {
    display: flex;
    .fixed-bottom {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      height: 72px;
      background: #e87d6d;
      text-align: center;
      font-weight: 700;
      padding: 0 80px;
      display: flex;
      align-items: center;
      .desktop-foot {
        color: white;
        font-size: 22px;
        margin-right: 40px;
      }
      .appLink {
        border: 1px solid white;
        border-radius: 4px;
        min-width: 150px;
        height: 40px;
        margin-left: 20px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        svg {
          height: 20px;
          width: 20px;
          margin-right: 6px;
          path {
            fill: white;
          }
        }
        .insider {
          background-color: $app-color;
          width: 100%;
          height: 40px;
          position: absolute;
          left: -100%;

          @include transform(rotateZ(45deg));
        }
        &:hover {
          border-color: #fff;
          background: white;
          color: $app-color;
          svg {
            path {
              fill: $app-color;
            }
          }
          .insider {
            @include transition(all 0.4s ease);
            left: 100%;
          }
        }
      }
      .mobile-foot {
        display: none;
      }
    }
    @include md {
      display: none;
    }
  }
  .mobile-view {
    padding: 20px;
    .s1-content-mobile {
      margin: 0;
    }
  }
  .mobileFooter {
    display: none;
    @include md {
      z-index: 2;
      cursor: pointer;
      bottom: 0;
      position: sticky;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $app-color;
      color: white;
      font-weight: 600;
    }
  }
  @media (min-width: 992px) {
    a.head-link {
      min-width: 150px;
      margin: 0px 0.5em;
      text-align: center;
      display: flow-root;
    }

    .mobile-view {
      display: none !important;
    }

    .mail-page input.email_request,
    #myCarousel .col-lg-6 > form > .tab > .intl-tel-input {
      margin: 6em 0;
    }

    input#mobile-number:focus {
      outline: 0;
    }

    .success-msg {
      font-size: 21px;
      width: 60%;
      line-height: 3;
    }
  }

  .intl-tel-input .flag-dropdown {
    margin: 1em 0;
  }

  input#mobile-number {
    padding: 0 0 0 40px;
    height: 60px;
    max-width: 540px;
    font-size: 20px;
    color: #343c48;
    border: 1px solid #ddd;
  }

  @media (max-width: 991px) {
    .intl-tel-input {
      margin: 1em 0;
    }

    .success-msg {
      font-size: 21px;
      width: 100%;
      line-height: 3;
    }

    .desktop-view {
      display: none !important;
    }

    .section-head-1 p.heading {
      line-height: 0.5;
    }

    .s1-mobile-heading p.heading {
      width: fit-content;

      span {
        font-size: 35px;
        font-weight: 600;
        padding: 1em 0;
      }
    }

    .section-head-1 p.heading span:after {
      margin-top: 1em;
    }

    header {
      position: fixed;
      width: 100%;
      background: #fff;
      left: 0;
      z-index: 5;
    }

    .s1-content-mobile {
      margin-top: 100px;
    }

    .buy-page div#myCarousel {
      margin-top: 6em;
    }

    input#filter0 {
      width: 100%;
    }

    .buy-page .section-head-1 p.heading {
      font-size: 23px;
      line-height: 2;
    }

    .button-1,
    .button-2 {
      padding: 0.5em 0 !important;
      text-align: center;
      width: 50%;
      min-width: unset !important;
    }

    input.email_request {
      margin: 1em 0;
      width: 100% !important;

      &:focus {
        width: 100% !important;
      }
    }

    div#example_wrapper .row .col-sm-12 {
      width: 100% !important;
    }
  }

  #example tbody tr td a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  #myCarousel {
    height: 0;
    flex: 1;
    .col-lg-6:first-child {
      margin: auto 0;
      padding-bottom: 72px;
    }
  }

  #example .table-image {
    width: 30px;
  }

  @media (min-width: 1300px) {
    header .col-lg-4.head-logo {
      padding-left: 5em;
    }
    #myCarousel .col-lg-6 {
      &:first-child {
        padding-left: 5em;
      }

      padding-right: 0;
      z-index: 5;
    }

    header {
      height: 83px;
      top: -2px;
      position: relative;
    }
  }

  .s1-content-mobile ul {
    padding: 0;

    li {
      list-style: none;
      margin: 1.5em 0;

      &:last-child {
        margin-bottom: 5em;
      }

      div {
        p.mobile-head-title {
          font-size: 18px;
          font-weight: 600;
          padding: 0.5em 0 0.5em 1.5em;
          border: 1px solid #e5e5e5;
          margin: 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .section-head-1 p.heading {
    font-size: 50px;
    font-weight: 600;
    padding: 0;
    width: fit-content;
  }

  .s1-mobile-heading p.heading span:after,
  .section-head-1 p.heading span:after {
    content: "";
    height: 6px;
    width: 100%;
    background: #e87d6d;
    display: block;
  }

  ol.carousel-indicators {
    list-style: none;
    font-size: 25px;
    position: unset;
    justify-content: unset;
    display: unset;

    li {
      padding: 1em 0;
      text-indent: unset;
      transition: 0.5s;
      height: auto;
      width: auto;
      display: table;
      background-color: transparent;
      transform-origin: left;
      span {
        cursor: pointer;
      }

      &.active {
        span {
          font-weight: 600;
        }

        transform: scale(1.5);
        padding-left: 0;
        transition: 0.5s;
        background-color: transparent;
        display: table;
        left: 0;
      }

      &:hover {
        transform: scale(1.5);
        padding-left: 0;
        transition: 0.5s;
        display: table;
      }
    }
  }

  .carousel-inner .carousel-item .fill {
    text-align: right;
  }

  img.slider-image {
    height: 92vh;
  }

  input.email_request {
    border: 1px solid #e5e5e5;
    padding: 1.5em 1em;
    width: 540px;
    outline: 0;

    &:focus {
      border: 1px solid #e5e5e5;
      padding: 1.5em 1em;
      width: 540px;
      outline: 0;
    }
  }

  .button-1,
  .button-2 {
    width: 202px;
  }

  .button-1 {
    color: #e87d6d;
    font-weight: 600;
    transition: 0.5s;
    font-size: 20px;
    background: #fff;
    padding: 1em 0;
    margin-right: 0.5em;
    border: 3px solid #e87d6d;
    text-align: center;

    &:hover {
      color: #fff;
      text-decoration: none;
      background: #e87d6d;
    }
  }

  .button-2 {
    color: #fff !important;
    text-align: center;
    font-weight: 600;
    transition: 0.5s;
    background: #e87d6d;
    font-size: 20px;
    padding: 1em 0;
    border: 3px solid #e87d6d;
    text-decoration: none;

    &:hover {
      color: #e87d6d !important;
      background: #fff;
      border: 3px solid #e87d6d;
      text-decoration: none;
    }
  }

  form.mail-submit > div {
    display: flex;
    max-width: 510px;
  }

  @media (min-width: 992px) {
    .buy-page .section-head-1 p.heading {
      font-size: 35px;
    }

    .mail-page .section-head-1 p.heading {
      font-size: 42px;
    }
  }

  .head-link i.fa {
    font-size: 22px;
    padding: 0px 7px;
  }

  .fixed-bottom > p {
    a span {
      transition: 0.5s;
      font-weight: 600;
      padding-left: 0;
      display: table-footer-group;
      transform: scale(1);
      position: inherit;
    }

    &:hover a span.desktop-view {
      padding-left: 7em;
    }
  }

  #cryptos {
    z-index: 5;
    background: rgba(0, 0, 0, 50%);
    border-radius: 15px;
    border: 0 solid;

    .modal-body {
      padding: 0;
    }

    table {
      width: 100%;
    }

    .modal-content {
      border-radius: 15px;
    }
  }

  tbody#cryptos1 > tr {
    > td {
      &:hover > img {
        transform: scale(1.2);
        transition: 0.5s;
      }

      img,
      > p {
        text-align: center;
        font-size: 23px;
        font-weight: 700;
        margin: 0 !important;
        padding: 1.4em 0;
        transition: 0.5s;
      }

      width: 100%;
      text-align: center;
      border-top: 0.5px solid #e5e5e5;
      border-bottom: 0.5px solid #e5e5e5;
    }

    &.one > td {
      background: #e87d6d;
      color: #fff;
      border: 0;
    }

    &:first-child td {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-top: 0 solid #e5e5e5 !important;
    }

    &:last-child td {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom: 0 solid #e5e5e5 !important;
    }
  }

  .carousel,
  .carousel-inner,
  .carousel-item,
  .container,
  .fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    transition: transform 1s ease;
  }
  .carousel-inner > {
    position: relative;
    .carousel-item {
      &.carousel-item-next {
        transform: translate3d(0, 100%, 0);
        top: 0;
      }

      &.carousel-item-prev {
        transform: translate3d(0, -100%, 0);
        top: 0;
      }

      &.active {
        transform: translate3d(0, 0, 0);
        z-index: 1;
        top: 0;
      }
    }
  }

  .carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
    transform: rotate(90deg);
  }

  #example tbody tr td img.table-image {
    width: 30px;
    margin: 0 1em;
  }

  .scrollingTable {
    overflow-y: auto;
  }

  div#example_wrapper {
    display: block !important;

    .row .col-sm-6:first-child {
      display: none !important;
    }
  }

  table#example thead {
    display: none !important;
  }

  div#example_wrapper .row {
    .col-sm-6:last-child {
      width: 100%;
      max-width: 568px;
      flex: unset;
    }

    .col-sm-12 {
      height: 410px !important;
      overflow-y: auto;
      overflow-x: hidden;
      width: 50%;
      max-width: 568px;
    }

    .col-sm-6:last-child #example_filter {
      width: 100%;

      label input.form-control {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0.6em;
        border-radius: 0;
        margin-bottom: 0.5em;
        background: #fff;
        border: 0.5px solid #e5e5e5;
        padding: 1em;
      }
    }
  }

  table#example {
    width: 100% !important;
    margin: unset;
  }

  @media (min-width: 1000px) {
    .scrollingTable,
    input#filter0 {
      width: 50%;
    }
  }

  input#filter0 {
    height: 67px;
    background: #fff;
    border: 0.5px solid #e5e5e5;
    padding: 0 2em;
  }

  #example {
    tbody tr td {
      height: 67px;
      background: #fff;
      border: 0.5px solid #e5e5e5;
      padding: 0 1em;
    }

    width: 100%;
  }

  .scrollingTable {
    height: 270px;
  }

  div#example_wrapper .row .col-sm-12 {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;

      &:hover {
        background: #555;
      }
    }
  }

  @media (min-width: 1000px) {
    #carousel-indicators {
      position: fixed;
      z-index: 5;
      bottom: 2em;
      margin: auto;
      right: 6vw;

      > ol {
        display: block;

        li {
          .fa-circle-o:before {
            color: #000;
          }

          &.active .fa-circle-o:before {
            content: "\f192";
            color: #e87d6d;
          }
        }
      }
    }
  }

  #regForm {
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-width: 300px;
  }

  h1 {
    text-align: center;
  }

  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaa;

    &.invalid {
      background-color: #fdd;
    }
  }

  .tab {
    display: none;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    &.finish {
      background-color: #4caf50;
    }
  }
}
