.issueModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 0;
  }
  .modalIssue {
    margin: auto;
    z-index: 1;
    min-height: 450px;
    width: 550px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .head {
      height: 75px;
      background: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 40%;
        filter: brightness(0) invert(1);
      }
    }
    .modalContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px 60px;
      .profile {
        height: 60px;
        display: flex;
        margin-bottom: 25px;
        img {
          height: 60px;
          width: 60px;
          border-radius: 30px;
          overflow: hidden;
          background: whitesmoke;
        }
        .textDetail {
          flex: 1;
          line-height: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 20px;
          .email {
            font-size: 23px;
            font-weight: 600;
          }
          .vid {
            margin-top: 8px;
            font-size: 15px;
            span {
              font-weight: 500;
            }
          }
        }
      }
      .headTitle {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .cardListWrap {
        height: 300px !important;
        .cardList {
          .vaultCard {
            height: 60px;
            background: none;
            border: 1px solid #cfd1d7;
            margin-bottom: 20px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            &.true {
              border: 3px solid #cfd1d7;
              padding: 0 17px;
            }
          }
        }
      }
      .valItm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        .value {
          .list {
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 6px;
            }
          }
          &.tdu {
            text-decoration: underline;
          }
        }
        .btnDropdown {
          min-width: 210px;
          height: 40px;
          border: 1px solid $border-color;
          padding: 0 25px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          text-transform: capitalize;
          svg {
            margin-left: 10px;
          }
          .dropList {
            position: absolute;
            top: 100%;
            left: -1px;
            right: -1px;
            background: white;
            z-index: 2;
            border: 1px solid $border-color;
            overflow: auto;
            .dropItem {
              min-height: 37px;
              border-bottom: 1px solid $border-color;
              display: flex;
              align-items: center;
              padding: 0 25px;
              text-transform: capitalize;
              &:hover {
                font-weight: 500;
              }
            }
          }
        }
      }
      .hr {
        background-color: $border-color;
        margin: 16px 0;
      }
      .spacer {
        height: 15px;
      }
      input,
      textarea {
        border: none;
        background: none;
        outline: none;
      }
      textarea {
        height: 200px;
        resize: none;
        padding: 20px;
        padding-left: 0;
      }
      .cName,
      .cNum,
      .cFee {
        height: 50px;
        background: none;
        border: 1px solid #cfd1d7;
        margin-bottom: 20px;
        padding-left: 20px;
        &.free {
          height: unset;
          min-height: 50px;
        }
      }
      .cName,
      .cFee {
        display: flex;
        input,
        textarea {
          margin: 0;
          flex: 1;
        }
        .coinFee {
          padding: 0 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
        }
        .settingsBox {
          border-left: 1px solid #cfd1d7;
          height: 100%;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 50%;
            width: auto;
          }
        }
      }
      .cred {
        height: 50px;
        display: flex;
        margin-bottom: 20px;
        .mm,
        .yy,
        .cvv {
          width: 0;
          background: none;
          border: 1px solid #cfd1d7;
          text-align: center;
        }
        .mm,
        .yy {
          flex: 0 0 24%;
          margin-right: 3%;
        }
        .cvv {
          margin-left: auto;
          flex: 0 0 32%;
        }
      }
      .rejectText {
        margin: 0 auto;
        width: 70%;
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
      }
      .seeDetail {
        margin: 0 auto;
        text-decoration: underline;
        margin-bottom: 30px;
      }
      .btnIssue {
        cursor: pointer;
        margin: 0 auto;
        display: flex;
        width: 45%;
        height: 50px;
        background: $primary-color;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: white;
        font-weight: 500;
        line-height: 1;
        &:hover {
          filter: contrast(1.5);
        }
      }
    }
  }
}
