.landingPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .spendLogo {
    width: 70%;
    max-width: 420px;
    margin-bottom: 60px;
  }
  .dividerH {
    width: 340px;
    border-top: 1px solid #484848;
  }
  .btLogin,
  .btRegister {
    cursor: pointer;
    text-decoration: none;
    width: 340px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  .btLogin {
    border: 2px solid #484848;
    color: #484848;
  }
  .btRegister {
    background-color: #484848;
    color: white;
  }
}
