$width: 50%;

.loginPage {
  width: 100%;
  height: 100%;
  display: flex;
  .bgWrap {
    flex: 0 0 40%;
    background-size: cover;
  }
  .loginSidewrap {
    position: relative;
    display: flex;
    flex: 1;
    .loginWrapper {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logoWrap {
        height: 11%;
        width: 50%;
        .logo {
          height: 100%;
          width: auto;
          .bank,
          .partner {
            display: none;
          }
          &.bank {
            .partner {
              display: block;
            }
          }
          &.partner {
            .bank {
              display: block;
            }
          }
        }
      }
      .login-form {
        width: $width;
        .group {
          position: relative;
          margin: 0;
          margin-top: 65px;
          display: flex;
          input {
            width: 100%;
          }
          button {
            width: 60%;
          }
          button {
            cursor: pointer;
            height: 55px;
            border: 1px solid $app-color;
            background: $app-color;
            color: white;
            border-radius: 0;
            font-size: 22px;
            position: relative;
            overflow: hidden;
            &::before {
              content: "";
              background-color: white;
              width: 100%;
              height: 40px;
              position: absolute;
              left: -100%;
              transform: rotateZ(45deg);
            }
            &:hover {
              border: 1px solid $app-color;
              background: $app-color;
              color: white;
              filter: contrast(1.5);
              &::before {
                transition: all 0.4s ease;
                left: 100%;
              }
            }
          }
          input[type="password"],
          input[type="text"] {
            background: none;
            color: #505050;
            font-size: 18px;
            padding: 10px 10px 10px 0;
            display: block;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #505050;
            &:focus {
              outline: none;
            }
            &:focus ~ label,
            &:valid ~ label,
            &.true ~ label {
              top: -14px;
              font-size: 12px;
              color: #00000070;
              font-weight: 700;
            }
          }

          input[type="password"] {
            letter-spacing: 0.3em;
          }
          label {
            color: #00000050;
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 10px;
            transition: 300ms ease all;
          }
          .eye {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            margin: auto;
            color: $primary-color;
          }
        }
      }
    }
    .goHome {
      width: 50%;
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 20px;
      font-weight: 600;
      color: $primary-color;
    }
    .notValidUser {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logoWrap {
        height: 13%;
        width: 50%;
        .logo {
          height: 100%;
          width: auto;
          .bank,
          .partner {
            display: none;
          }
          &.bank {
            .partner {
              display: block;
            }
          }
          &.partner {
            .bank {
              display: block;
            }
          }
        }
      }
      .detail {
        width: 50%;
        font-size: 19px;
        line-height: 2;
        margin: 50px 0;
      }
      .btns {
        display: flex;
        width: 50%;
        justify-content: space-between;
        height: 70px;
        .btReg,
        .btTry {
          cursor: pointer;
          flex: 0 0 48%;
          border: 1px solid;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 21px;
          font-weight: 500;
          position: relative;
          overflow: hidden;
          &::before {
            content: "";
            background-color: white;
            width: 100%;
            height: 40px;
            position: absolute;
            left: -100%;
            transform: rotateZ(45deg);
          }
          &:hover {
            border: 1px solid $app-color;
            background: $app-color;
            color: white;
            &::before {
              transition: all 0.4s ease;
              left: 100%;
            }
          }
        }
        .btReg {
          border-color: $primary-color;
          color: $primary-color;
        }
        .btTry {
          border-color: $app-color;
          background: $app-color;
          color: white;
        }
      }
    }
  }
}
