:root {
  --card-color: #484848;
}
$card-color: var(--card-color);

.myCards {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  justify-content: space-evenly;
  .headLogoArea {
    margin-top: 1%;
    flex: 0 0 16%;
    max-height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .mainTitle {
      font-size: 40px;
      font-weight: 600;
    }
    .subTitle {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .carousel-wrapper {
    flex: 0 0 37%;
    overflow: hidden;
    position: relative;
    display: flex;
    .carousel-horizontal {
      margin: auto 0;
      width: 100%;
      height: 100%;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
      .masterCard {
        opacity: 0.6;
        transition: transform 1s ease;
        position: absolute;
        margin: auto;
        width: auto;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        .appLogo {
          width: auto;
          max-width: 100%;
          height: 100%;
          object-fit: contain;
          align-self: start;
        }
        &.prev {
          transform: translate3d(-140%, 0, -300px);
        }

        &.next {
          transform: translate3d(140%, -0, -300px);
        }

        &.active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        &.inactive {
          transform: translate3d(0, 0, -500px);
        }
      }
    }
    .controlls {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .indicator {
        cursor: pointer;
        opacity: 0.5;
        background-color: white;
        height: 15px;
        width: 15px;
        border-radius: 7.5px;
        margin: 10px 0;
        &.true {
          opacity: 1;
        }
      }
    }
  }
  .btnsList {
    height: 60px;
    display: flex;
    justify-content: center;
    .btnItem {
      width: 180px;
      margin: 0 18px;
      border-radius: 4px;
      border: 1px solid $card-color;
      color: $card-color;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        background-color: white;
        width: 100%;
        height: 40px;
        position: absolute;
        left: -100%;

        @include transform(rotateZ(45deg));
      }
      &:hover {
        border-color: $card-color;
        background: $card-color;
        color: white;
        .btnLogo {
          filter: brightness(0) invert(1);
        }
        &::before {
          @include transition(all 0.4s ease);
          left: 100%;
        }
      }
    }
  }
  .editCards {
    height: 0;
    flex: 1;
    display: flex;
    .cardContent {
      flex: 1;
      padding: 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      .cardName {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
        color: $primary-color;
      }
      .masterCard {
        height: 40%;
        .appLogo {
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }
    }
    .editSidebar {
      border-left: 1px solid $border-color;
      flex: 0 0 32%;
      display: flex;
      flex-direction: column;
      .optionItm {
        cursor: pointer;
        flex: 0 0 130px;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        padding: 0 35px;
        font-size: 20px;
        &:hover {
          background: whitesmoke;
        }
      }
      .logo {
        flex: 1;
        padding: 60px;
        .logoIcn {
          width: 65%;
          margin-bottom: 40px;
          color: $border-color;
        }
        .icLabel {
          font-size: 18px;
          color: $primary-color;
          margin-top: 25px;
        }
        .boxLogo {
          height: 100px;
          margin: 20px 0;
          border: 1px solid #050505;
          border-radius: 8px;
          background: #050505;
          display: flex;
          justify-content: center;
          align-items: center;
          .curLogo {
            height: 65%;
            width: auto;
            max-width: 70%;
            object-fit: contain;
          }
          &.upload {
            cursor: pointer;
            background: none;
            span {
              font-size: 20px;
              margin-left: 15px;
            }
          }
        }
        .inpBox {
          height: 100px;
          margin: 20px 0;
          border: 1px solid #050505;
          border-radius: 8px;
          display: flex;
          .input {
            width: 0;
            flex: 1;
            object-fit: contain;
            border: none;
            outline: none;
            padding-left: 20px;
          }
          .colorBox {
            width: 100px;
          }
          &.upload {
            cursor: pointer;
            background: none;
            span {
              font-size: 20px;
              margin-left: 15px;
            }
          }
        }
        .btns {
          margin-top: 40px;
          height: 60px;
          display: flex;
          justify-content: space-between;
          .btnNP {
            cursor: pointer;
            flex: 0 0 48%;
            border: 1px solid $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            &.nxt {
              background-color: $primary-color;
              color: white;
            }
            &:hover {
              background-color: $primary-color;
              color: white;
              &.nxt {
                filter: contrast(2);
              }
            }
          }
        }
      }
    }
  }
}
