.MachineLayout {
  .cardPageWrapper {
    display: flex;
    flex: 1;
    .newCard {
      flex: 1;
      display: flex;
      .newCardContent {
        flex: 1;
        padding: 60px;
        display: flex;
        flex-direction: column;
        padding-top: 8%;
        .title {
          font-size: 30px;
          margin-bottom: 30px;
        }
        .options {
          display: flex;
          .option {
            cursor: pointer;
            border: 1px solid $border-color;
            height: 280px;
            width: 260px;
            margin-right: 60px;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              width: 120px;
              height: 120px;
              margin-bottom: 30px;
            }
            .label {
              font-size: 22px;
            }
          }
        }
        .inpBox {
          height: 75px;
          width: 85%;
          border: 1px solid $border-color;
          display: flex;
          .input {
            width: 0;
            flex: 1;
            background: none;
            border: none;
            outline: none;
            font-size: 24px;
            padding: 0 30px;
            &::placeholder {
              opacity: 1;
              color: $border-color;
            }
          }
          .colorBox {
            border-left: 1px solid $border-color;
            width: 74px;
          }
        }

        .btnNext {
          cursor: pointer;
          margin-top: 30px;
          border: 1px solid $border-color;
          height: 75px;
          max-height: 75px;
          width: fit-content;
          font-size: 26px;
          padding: 0 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex: 0 0 220px;
          margin-right: 20px;
          &:hover {
            background: whitesmoke;
          }
        }
        input.btnNext {
          max-width: 220px;
          outline: none;
          &::placeholder {
            font-size: 18px;
          }
        }
      }
      .cardFormSidebar {
        border-left: 1px solid $border-color;
        flex: 0 0 35%;
        min-width: 550px;
        .headCardName {
          height: 70px;
          font-size: 24px;
          background: $primary-color;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .cardContent {
          padding: 80px;
          padding-top: 12%;
          display: flex;
          flex-direction: column;
          .name {
            font-size: 35px;
            font-weight: 600;
          }
          .by {
            font-size: 20px;
          }
          .cardSvg {
            margin-top: 40px;
            img {
              max-width: 100%;
              width: auto;
              height: 100%;
            }
          }
          .issueCard {
            cursor: pointer;
            margin: 40px auto 0 auto;
            border: 1px solid $primary-color;
            height: 70px;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 600;
            &:hover {
              background: $primary-color;
              color: white;
            }
          }
        }
      }
    }
    .sideBarAppSelect {
      width: 320px !important;
      border-left: 1px solid $border-color;
      margin-left: auto;
      .view {
        display: flex;
        flex-direction: column;
        .headSearach {
          position: sticky;
          top: 0;
          background: white;
          flex: 0 0 80px;
          border-bottom: 1px solid $border-color;
          display: flex;
          margin: 0;
          .inpSearch {
            height: 100%;
            width: 100%;
            background: none;
            border: none;
            outline: none;
            padding: 0 20px;
          }
        }
        .appPublication {
          flex: 0 0 16%;
          border-bottom: 1px solid $border-color;
          padding: 20px;
          display: flex;
          align-items: center;
          overflow: hidden;
          img {
            height: 40px;
            width: 40px;
            margin-right: 8px;
          }
          .nameNbtns {
            flex: 1;
            width: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 30px;
            .name {
              width: 100%;
              font-weight: 600;
              font-size: 22px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .btns {
              display: flex;
              .btnAction {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $border-color;
                font-size: 12px;
                color: rgb(109, 109, 109);
                width: 35%;
                margin-right: 6px;
              }
            }
          }
          &:hover {
            background: rgba(239, 239, 239, 0.26);
          }
        }
        .showAllApp {
          margin-top: auto;
          position: sticky;
          bottom: 0;
          height: 60px;
          flex: 0 0 60px;
          background: $primary-color;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
}
