.selectVendorAppPage {
  width: 100%;
  height: 100%;
  display: flex;
  .sideInput {
    flex: 0 0 36%;
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    .content {
      flex: 1;
      padding: 0 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .logoMain {
        width: 70%;
        height: auto;
      }
      .label {
        font-size: 22px;
        margin-top: 30px;
      }
      .appSearch {
        height: 60px;
        border: 1px solid $border-color;
        outline: none;
        padding: 0 7%;
        margin-top: 30px;
      }
      .btnLogin {
        margin-top: 60px;
        height: 60px;
        background: #484848;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
        font-size: 21px;
        cursor: pointer;
        &:hover {
          filter: contrast(1.2);
        }
      }
    }
    .footer {
      cursor: pointer;
      flex: 0 0 60px;
      background: $app-color;
      padding: 0 15%;
      display: flex;
      align-items: center;
      font-weight: 600;
      color: white;
      font-size: 20px;
      span {
        cursor: pointer;
        text-decoration: underline;
      }
      &:hover {
        filter: contrast(1.4);
      }
    }
  }
  .sideLists {
    width: 0;
    flex: 1;
    > div {
      display: flex;
      flex-direction: column;
      .headStick {
        flex: 0 0 12%;
        border-bottom: 1px solid $border-color;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        position: sticky;
        background: white;
        .title {
          font-size: 34px;
          font-weight: 500;
          line-height: 1;
        }
        .subTitle {
          font-size: 18px;
        }
      }
      .appItem {
        cursor: pointer;
        flex: 0 0 12.57%;
        border-bottom: 1px solid $border-color;
        padding: 0 80px;
        display: flex;
        align-items: center;
        .appIcon {
          width: 50px;
          height: 50px;
          object-fit: contain;
          margin-right: 15px;
        }
        .texts {
          .appName {
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 8px;
          }
          .desc {
            line-height: 1;
          }
        }
        &:hover {
          background: whitesmoke;
          transform: scale(1.06);
        }
      }
    }
  }
}
