@mixin transition($in) {
  transition: $in;
  -webkit-transition: $in;
  -moz-transition: $in;
  -o-transition: $in;
  -ms-transition: $in;
}
@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}
@mixin animation($in) {
  animation: $in;
  -webkit-animation: $in;
  -moz-animation: $in;
  -o-animation: $in;
  -ms-animation: $in;
}

.selectAppPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  .content {
    display: flex;
    height: 0;
    flex: 1;
    .contentArea {
      display: flex;
      flex-direction: column;
      flex: 1;
      .space {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
        .heading {
          font-size: 50px;
          font-weight: 600;
          margin-left: 80px;
          margin-right: auto;
          color: $primary-color;
          line-height: 1.2;
          .desktop-view {
            position: relative;
            line-height: 1.1;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: -30px;
              height: 6px;
              background: $app-color;
            }
          }
        }
        .desc {
          margin-left: 80px;
          width: 45%;
          margin-top: 50px;
          font-size: 18px;
          line-height: 2;
          margin-bottom: 40px;
        }
        .btSpend {
          margin-left: 80px;
          width: fit-content;
          height: fit-content;
          display: flex;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 17px;
          font-weight: 600;
          color: $primary-color;
          overflow: hidden;
          position: relative;
          padding: 15px 20px;
          .patnerLogo {
            margin-left: 10px;
            height: 26px;
          }
          &::before {
            content: "";
            background-color: white;
            width: 100%;
            height: 20px;
            position: absolute;
            left: -100%;
            @include transform(rotateZ(45deg));
          }
          &:hover {
            background-color: $app-color;
            border-color: #fff;
            color: #fff;
            &::before {
              @include transition(all 0.4s ease);
              left: 100%;
            }
            .patnerLogo {
              filter: brightness(0) invert(1);
            }
          }
        }
        .btnsSc {
          margin-left: 80px;
          width: fit-content;
          min-width: 36%;
          height: 55px;
          display: flex;
          justify-content: space-between;
          .btnMain,
          .btnSecond {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border-radius: 5px;
            flex: 0 0 48%;
            border: 1px solid $app-color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
            font-weight: 600;
            color: $primary-color;
            overflow: hidden;
            position: relative;
            .logo {
              margin-left: 10px;
              height: 26px;
            }
            &::before {
              content: "";
              background-color: $app-color;
              width: 100%;
              height: 20px;
              position: absolute;
              left: -100%;

              @include transform(rotateZ(45deg));
            }
            &:hover {
              background-color: $app-color;
              border-color: #fff;
              color: #fff;

              &::before {
                @include transition(all 0.4s ease);
                left: 100%;
              }
            }
          }
          .btnMain {
            border-color: $primary-color;
            &:hover {
              .logo {
                filter: brightness(0) invert(1);
              }
            }
          }
          .btnSecond {
            background: $app-color;
            color: white;
            .logo {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
      .fixed-bottom {
        position: relative;
        height: 72px;
        background: #e87d6d;
        text-align: center;
        font-weight: 700;
        padding: 0 80px;
        display: flex;
        align-items: center;
        .desktop-foot {
          color: white;
          font-size: 22px;
          margin-right: 40px;
        }
        .appLink {
          border: 1px solid white;
          border-radius: 4px;
          min-width: 150px;
          height: 40px;
          margin-left: 20px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          svg {
            height: 20px;
            width: 20px;
            margin-right: 6px;
            path {
              fill: white;
            }
          }
          .insider {
            background-color: $app-color;
            width: 100%;
            height: 40px;
            position: absolute;
            left: -100%;

            @include transform(rotateZ(45deg));
          }
          &:hover {
            border-color: #fff;
            background: white;
            color: $app-color;
            svg {
              path {
                fill: $app-color;
              }
            }
            .insider {
              @include transition(all 0.4s ease);
              left: 100%;
            }
          }
        }
        .mobile-foot {
          display: none;
        }
      }
    }
    .appList {
      margin-left: auto;
      background: white;
      width: 500px !important;
      border-left: 1px solid $border-color;
      > div {
        display: flex;
        flex-direction: column;
        .appSelectBg {
          flex: 0 0 100%;
        }
        .appItem {
          flex: 0 0 140px;
          border-bottom: 1px solid $border-color;
          padding: 0 40px;
          display: flex;
          align-items: center;
          color: $primary-color;
          font-weight: 600;
          font-size: 19px;
          text-decoration: none;
          .icon {
            height: 65px;
            width: 70%;
            object-fit: contain;
          }
          .smIcon {
            height: 26px;
            width: 26px;
            margin-right: 6px;
          }
          &:hover {
            * {
              transform: scale(1.12);
              transform-origin: left;
            }
            background: whitesmoke;
          }
        }
        .loginView {
          flex: 1;
          padding: 0 40px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            width: fit-content;
            font-size: 35px;
            font-weight: 600;
            color: $primary-color;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0px;
              height: 5px;
              background: $app-color;
            }
          }
          .inpBox {
            height: 80px;
            border: 1px solid $border-color;
            background: none;
            outline: none;
            padding: 0 20px;
            margin: 16% 0;
          }
          p {
            margin-top: 30px;
            line-height: 2;
            font-size: 20px;
          }
          .btnNext {
            height: 60px;
            width: 45%;
            font-size: 25px;
            font-weight: 600;
            cursor: pointer;
            background: $app-color;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              filter: contrast(1.7);
            }
          }
          .otpWrapper {
            margin: 16% 0;
            height: 80px;
            justify-content: space-between;
            > div {
              flex: 0 0 20%;
              .inputStyle {
                outline: none;
                border: 2px solid $border-color;
                border-radius: 6px;
                flex: 1;
                height: 100%;
              }
            }
          }
          .goBack {
            position: absolute;
            left: 40px;
            bottom: 30px;
            font-weight: 600;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .mobileFooter {
    display: none;
    @include md {
      z-index: 2;
      cursor: pointer;
      bottom: 0;
      position: sticky;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $app-color;
      color: white;
      font-weight: 600;
    }
  }
  @include md {
    height: unset;
    .content {
      display: flex;
      flex-direction: column;
      height: unset;
      .contentArea {
        border-bottom: 1px solid $border-color;
        .fixed-bottom {
          display: none;
        }
        .space {
          padding: 20px;
          .heading {
            margin: 0;
            margin-right: auto;
            .desktop-view {
              font-size: 30px;
              line-height: 1.2;
              &::after {
                bottom: -6px;
                height: 4px;
              }
            }
          }
          .desc {
            width: 100%;
            margin: 0;
            margin-top: 20px;
          }
          .btnsSc {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 20px 0;
            height: unset;
            .btnMain,
            .btnSecond {
              flex: 0 0 50px;
              height: 70px;
              width: 100%;
              margin-bottom: 15px;
            }
          }
        }
      }
      .appList {
        margin: 0;
        width: unset !important;
        > div {
          position: relative !important;
          .appItem {
            flex: 0 0 110px;
            padding: 0 20px;
          }
        }
      }
    }
  }
  .landing-nav .box .logo .wallet {
    display: flex;
  }
  &.partner {
    .landing-nav .box .logo .wallet {
      display: none;
    }
    .landing-nav .box .logo .app {
      display: flex;
    }
  }
}
