.userListWrap {
  width: 0;
  flex: 1;
  .userList {
    display: flex;
    flex-direction: column;
    .userItem {
      border-bottom: 1px solid $border-color;
      background: white;
      flex: 0 0 20%;
      padding: 0 70px;
      padding-right: 120px;
      display: flex;
      align-items: center;
      .profileImg {
        height: 34px;
        width: 34px;
        border-radius: 17px;
      }
      .nameEmail {
        margin-left: 15px;
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        line-height: 1;
        .name {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        .email {
          font-size: 13px;
          font-weight: normal;
        }
      }
      .time,
      .balance {
        margin-left: 15px;
        flex: 0 0 20%;
      }

      .btnActions {
        margin-left: auto;
        display: flex;
        .btnAction {
          cursor: pointer;
          width: 110px;
          height: 35px;
          border: 1px solid $border-color;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 15px;
          &.more {
            padding: 0 20px;
            position: relative;
            svg {
              color: gray;
            }
            .dropList {
              position: absolute;
              left: -1px;
              right: -1px;
              top: 100%;
              display: flex;
              flex-direction: column;
              border: 1px solid $border-color;
              .dropItm {
                cursor: pointer;
                border-top: 1px solid $border-color;
                background: white;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                &:first-child {
                  border: none;
                }
                &:hover {
                  background: whitesmoke;
                }
              }
            }
          }
        }
      }
      &:hover {
        background: whitesmoke;
        filter: drop-shadow(1);
        zoom: 1.03;
      }
    }
  }
  &.true {
    .userList {
      .userItem {
        .nameEmail {
          flex: 0 0 25%;
        }
        .time,
        .balance {
          flex: 1;
        }
        .btnActions {
          .btnAction {
            display: none;
            &:last-child {
              display: flex;
            }
          }
        }
      }
    }
  }
}
