.CRMLayout,
.VendorsLayout {
  .withdrawalView {
    display: flex;
    flex: 1;
    .withdrawalViewContent {
      flex: 1;
      display: flex;
      .userListDetailWrap {
        flex: 1;
        display: flex;
        .userDetailSide {
          border-left: 1px solid $border-color;
          flex: 0 0 50%;
          display: flex;
          flex-direction: column;
          animation: sideBarAnimate 800ms;
          .head {
            border-bottom: 1px solid $border-color;
            height: 140px;
            padding: 0 40px;
            display: flex;
            align-items: center;
            .dp {
              border: 1px solid $border-color;
              overflow: hidden;
              height: 80px;
              width: 80px;
              border-radius: 50%;
            }
            .texts {
              color: $primary-color;
              margin-left: 20px;
              flex: 1;
              line-height: 1;
              .name {
                font-size: 26px;
                font-weight: 600;
              }
              .email {
                margin-top: 6px;
                font-size: 18px;
                font-weight: 500;
              }
            }
            .box {
              cursor: pointer;
              border: 1px solid $border-color;
              display: flex;
              padding: 4px 6px;
              align-items: center;
              .logo {
                height: 18px;
                width: 18px;
                margin-right: 6px;
              }
              span {
                font-size: 14px;
              }
              &:hover {
                background: whitesmoke;
              }
            }
          }
          .tabs {
            display: flex;
            height: 45px;
            .tab {
              cursor: pointer;
              font-size: 15px;
              height: 100%;
              flex: 0 0 20%;
              max-width: 20%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              border: none;
              &.true {
                border: none;
                font-weight: 600;
              }
            }
          }
          .txnWrapper {
            height: 0 !important;
            flex: 1;
            .txnList {
              display: flex;
              flex-direction: column;
              position: relative;
              .header {
                border-top: 1px solid white;
                height: 35px;
                background: $primary-color;
                font-size: 15px;
                font-weight: 500;
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                top: 0;
                position: sticky;
                .asset,
                .balance,
                .usd {
                  text-align: center;
                  &.jcs {
                    text-align: left;
                  }
                }
                .asset {
                  padding: 0 35px;
                  flex: 0 0 35%;
                }
                .balance,
                .usd {
                  flex: 0 0 20%;
                }
              }
              .txnItm {
                border-bottom: 1px solid $border-color;
                flex: 0 0 80px;
                display: flex;
                justify-content: space-evenly;
                .asset,
                .balance,
                .usd {
                  display: flex;
                  text-align: center;
                  align-items: center;
                  font-size: 20px;
                  font-weight: 500;
                }
                .asset {
                  padding: 0 30px;
                  flex: 0 0 35%;
                  max-width: 35%;
                  img {
                    height: 28px;
                    width: 28px;
                    object-fit: contain;
                    margin-right: 8px;
                  }
                  span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .balance,
                .usd {
                  flex: 0 0 20%;
                  max-width: 20%;
                  justify-content: center;
                  .btnAcces {
                    height: 30px;
                    width: 70%;
                    border: 1px solid $border-color;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                  }
                  &.jcs {
                    justify-content: start;
                  }
                }
              }
            }
          }
          .footer {
            flex: 0 0 70px;
            display: flex;
            .btnBox {
              border: 1px solid $border-color;
              display: flex;
              align-items: center;
              font-size: 13px;
              padding: 0 20px;
              .box {
                margin: 0 6px;
                height: 14px;
                width: 28px;
                border-radius: 7px;
                border: 1px solid $primary-color;
                display: flex;
                align-items: center;
                padding: 0 1px;
                .dot {
                  height: 10px;
                  width: 10px;
                  border-radius: 5px;
                  background: $primary-color;
                }
                &.true {
                  .dot {
                    margin-left: auto;
                  }
                }
              }
            }
            .netWorth {
              flex: 1;
              background: $primary-color;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 20px;
              font-weight: 600;
              color: white;
            }
          }
          @keyframes sideBarAnimate {
            from {
              max-width: 0%;
            }
            to {
              max-width: 50%;
            }
          }
        }
      }
    }
    .sideBarAppSelect {
      border-left: 1px solid $border-color;
      margin-left: auto;
      .view {
        display: flex;
        flex-direction: column;
        .appPublication {
          flex: 0 0 20%;
          border-bottom: 1px solid $border-color;
          padding: 20px;
          display: flex;
          align-items: center;
          overflow: hidden;
          img {
            height: 40px;
            width: 40px;
            margin-right: 8px;
          }
          .nameNbtns {
            flex: 1;
            width: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 30px;
            .name {
              width: 100%;
              font-weight: 600;
              font-size: 22px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .appCode {
              font-size: 18px;
            }
          }
          &:hover {
            background: rgba(239, 239, 239, 0.26);
          }
        }
      }
    }
  }
}
