.viewingAs {
  height: 60px;
  padding: 0 0 0 70px;
  display: flex;
  line-height: 1;
  border-bottom: 1px solid $border-color;
  align-items: center;
  position: relative;
  .textViewingAs {
    font-size: 14px;
    margin-right: 10px;
  }
  .profile {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 5px;
  }
  .name {
    font-size: 18px;
    font-weight: 600;
  }
  .btnRefresh {
    margin-left: auto;
    border: 1px solid $border-color;
    height: 40px;
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    padding: 0 20px;
    align-items: center;
    font-weight: 600;
    margin-right: 70px;
  }
  .searchInp {
    height: 100%;
    flex: 1;
    border: none;
    background: none;
    outline: none;
  }
  .btnType {
    cursor: pointer;
    border-left: 1px solid $border-color;
    height: 100%;
    flex: 0 0 120px;
    width: 120px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    &.true {
      background: #e7e7e7;
      font-weight: 600;
    }
  }
  @include xxl {
    zoom: 0.95;
  }
  @include xl {
    zoom: 0.9;
    .btnType {
      flex: 0 0 14%;
    }
  }
  @include lg {
    .btnType {
      flex: 0 0 15%;
    }
  }
}
