.loginPogressWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  .progress {
    width: 70%;
    background-color: rgb(229, 233, 235);
    height: 3em;
    position: relative;
    border-radius: 1em;
  }
  .progress-bar-login {
    background-size: 23em 0.25em;
    height: 100%;
    max-width: 97%;
    position: relative;
    background-color: $app-color;
    transition: width 1100ms cubic-bezier(1, 0, 0.65, 0.85);
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.125) 50%,
      rgba(255, 255, 255, 0.125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 35px 35px;
    animation: move 1s linear infinite;
  }
  .messge {
    margin-top: 30px;
  }
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }
}
