@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@import "_colors";
@import "mixin";
@import "hamburgers";

@import "landingPage";
@import "loginPage";
@import "issuancePage";
@import "engagementPage";
@import "vendorsPage";
@import "fundingPage";
@import "selectAppPage";
@import "selectAppVendorPage";
@import "newCardPage";
@import "homePage";
@import "cardsPage";
@import "vaultspage";
@import "getMobileApp";
@import "myCards";
@import "registerPage";

@import "mainLayout";
@import "navbar";
@import "sidebar";
@import "landingLottie";
@import "loginProgressbar";

@import "assetIoFed";
@import "viewingAs";
@import "richTextEditor";
@import "newPost";
@import "deleteWithdraw";
@import "bankerTransaction";
@import "issueModal";
@import "issuanceCustomers";
@import "userItem";
@import "filterSidebar";
@import "inviteModal";
@import "vaultFab";
@import "actionPanelModal";
@import "depositModal";
@import "masterCard";

body {
  font-family: Montserrat !important;
  min-height: 100vh;
  margin: 0;
  display: flex;

  #root {
    width: 0;
    flex: 1;
    .disable {
      opacity: 0.4 !important;
      cursor: progress !important;
    }
  }
}

.d-none {
  display: none !important;
}
