.registerPage {
  width: 100%;
  height: 100%;
  display: flex;
  .bgWrap {
    order: 1;
    object-fit: cover;
    height: 100%;
    width: auto;
  }
  .contentWrap {
    flex: 1;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    order: 1;
    .registerStep {
      .step {
        .stepTitle {
          font-size: 60px;
          color: $app-color;
          font-weight: 600;
        }
        .stepDesc {
          font-size: 24px;
        }
        margin-bottom: 30px;
      }
      .goHome {
        position: absolute;
        bottom: 60px;
        font-size: 20px;
        font-weight: 500;
        color: $primary-color;
      }
    }
    .registerSelectType {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .step {
        margin-bottom: 20px;
        .stepDesc {
          line-height: 1;
        }
      }
      .spendPartner {
        cursor: pointer;
        flex: 0 0 25%;
        border: 1px solid $border-color;
        margin: 20px 0;
        padding: 0 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .typeLogo {
          width: 30%;
          margin-bottom: 15px;
        }
        p {
          font-size: 17px;
          span {
            font-weight: 600;
            cursor: pointer;
          }
        }
        &.partner {
          border-left: 30px solid $primary-color;
          .typeLogo {
            height: auto;
            .bank {
              display: none;
            }
          }
        }
        &.vendor {
          border-left: 30px solid $app-color;
          .typeLogo {
            height: auto;
            .partner {
              display: none;
            }
          }
        }
        &:hover {
          background: whitesmoke;
        }
      }
    }
    .registerSelectLevel {
      margin: auto 0;
      .userLevelList {
        .listItm {
          height: 120px;
          border: 1px solid $border-color;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          padding: 0 6%;
          img {
            height: 30px;
            width: 30px;
            margin-right: 20px;
            object-fit: contain;
          }
          span {
            font-size: 23px;
            font-weight: 500;
          }
          &:hover {
            background: whitesmoke;
            * {
              transform: scale(1.1);
              transform-origin: left;
            }
          }
        }
      }
    }
    .registerAllUserTypes {
      width: 70%;
      margin: auto 0;
      color: $primary-color;
      .partnerLogo {
        width: 90%;
        margin-bottom: 30px;
        .partner {
          display: none;
        }
      }
      .group {
        position: relative;
        margin: 60px 0;
        display: flex;
        input {
          width: 100%;
        }
        input[type="password"],
        input[type="text"] {
          background: none;
          color: #505050;
          font-size: 18px;
          padding: 10px 10px 10px 0;
          display: block;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #505050;
          &:focus {
            outline: none;
          }
          &:focus ~ label,
          &:valid ~ label,
          &.true ~ label {
            top: -14px;
            font-size: 12px;
            color: #00000070;
            font-weight: 700;
          }
        }

        input[type="password"] {
          letter-spacing: 0.3em;
        }
        label {
          color: #00000050;
          font-size: 16px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 0;
          top: 10px;
          transition: 300ms ease all;
        }
        .eye,
        .circle {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          margin: auto;
          color: $primary-color;
        }
        .circle {
          width: 15px;
          height: 15px;
        }
      }
      .uploadRow {
        height: 120px;
        display: flex;
        align-items: center;
        .imgWrap {
          height: 90px;
          width: 90px;
          border: 2px solid $border-color;
          border-radius: 45px;
          margin-right: 20px;
          overflow: hidden;
          .cloudUpload {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .texts {
          width: 0;
          flex: 1;
          .name {
            font-size: 25px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            margin: 4px 0;
          }
          .email {
            margin: 4px 0;
          }
        }
      }
      .otpLabel {
        font-size: 22px;
        font-weight: 500;
        color: $primary-color;
        margin: 40px 0;
      }
      .otpWrapper {
        height: 80px;
        justify-content: space-between;
        > div {
          flex: 0 0 14%;
          .inputStyle {
            outline: none;
            border: 2px solid $border-color;
            border-radius: 6px;
            flex: 1;
            height: 100%;
          }
        }
      }
      .btnNext {
        margin-top: 60px;
        border: 1px solid $border-color;
        height: 65px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &::before {
          content: "";
          background-color: white;
          width: 100%;
          height: 40px;
          position: absolute;
          left: -100%;
          transform: rotateZ(45deg);
        }
        &:hover {
          border: 1px solid $app-color;
          background: $app-color;
          color: white;
          &::before {
            transition: all 0.4s ease;
            left: 100%;
          }
        }
      }
    }
    .registerisGx {
      margin: auto 0;
      .btns {
        margin-top: 50px;
        display: flex;
        width: 60%;
        justify-content: space-between;
        .btnYes {
          border: 1px solid $border-color;
          flex: 0 0 48%;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          font-weight: 500;
          position: relative;
          overflow: hidden;
          &::before {
            content: "";
            background-color: white;
            width: 100%;
            height: 40px;
            position: absolute;
            left: -100%;
            transform: rotateZ(45deg);
          }
          &:hover {
            border: 1px solid $app-color;
            background: $app-color;
            color: white;
            &::before {
              transition: all 0.4s ease;
              left: 100%;
            }
          }
        }
        .btnLink {
          border: 1px solid $border-color;
          flex: 0 0 100%;
          height: 60px;
          display: flex;
          padding-left: 20px;
          align-items: center;
          font-size: 22px;
          font-weight: 500;
          a {
            text-decoration: none;
            color: $primary-color;
            margin-right: auto;
          }
          .icon {
            cursor: pointer;
            width: 30px;
            height: 30px;
            margin-right: 20px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .loginWrapper {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .logoWrap {
        height: 11%;
        width: 50%;
        .logo {
          height: 100%;
          width: auto;
          .bank,
          .partner {
            display: none;
          }
          &.bank {
            .partner {
              display: block;
            }
          }
          &.partner {
            .bank {
              display: block;
            }
          }
        }
      }
      .login-form {
        width: 60%;
        .group {
          position: relative;
          margin: 60px 0;
          display: flex;
          input {
            width: 100%;
          }
          button {
            width: 60%;
          }
          button {
            cursor: pointer;
            height: 55px;
            border: 1px solid $app-color;
            background: $app-color;
            color: white;
            border-radius: 0;
            font-size: 22px;
            outline: none;
            position: relative;
            overflow: hidden;
            &::before {
              content: "";
              background-color: white;
              width: 100%;
              height: 40px;
              position: absolute;
              left: -100%;
              transform: rotateZ(45deg);
            }
            &:hover {
              border: 1px solid $app-color;
              background: $app-color;
              color: white;
              filter: contrast(1.5);
              &::before {
                transition: all 0.4s ease;
                left: 100%;
              }
            }
          }
          input[type="password"],
          input[type="text"] {
            background: none;
            color: #505050;
            font-size: 18px;
            padding: 10px 10px 10px 0;
            display: block;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #505050;
            &:focus {
              outline: none;
            }
            &:focus ~ label,
            &:valid ~ label,
            &.true ~ label {
              top: -14px;
              font-size: 12px;
              color: #00000070;
              font-weight: 700;
            }
          }

          input[type="password"] {
            letter-spacing: 0.3em;
          }
          label {
            color: #00000050;
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 10px;
            transition: 300ms ease all;
          }
          .eye {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            margin: auto;
            color: $primary-color;
          }
        }
      }
      .goHome {
        position: absolute;
        bottom: 60px;
        font-size: 20px;
        font-weight: 500;
        color: $primary-color;
      }
    }
    .registerSelectApp {
      height: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      .searchBar {
        height: 60px;
        width: 80%;
        border: 1px solid $border-color;
        margin-bottom: 30px;
        .searchInp {
          height: 100%;
          width: 100%;
          border: none;
          background: none;
          outline: none;
          padding: 0 40px;
        }
      }
      .appListScrl {
        height: 0 !important;
        width: 80% !important;
        flex: 1;
        > div {
          display: flex;
          flex-direction: column;
          .appItem {
            flex: 0 0 140px;
            border: 1px solid $border-color;
            display: flex;
            align-items: center;
            padding: 0 50px;
            margin-bottom: 20px;
            .img,
            img {
              height: 50px;
              width: 50px;
              object-fit: contain;
              margin-right: 20px;
            }
            span {
              font-size: 22px;
              font-weight: 600;
            }
            &:hover {
              background: whitesmoke;
              * {
                transform: scale(1.1);
                transform-origin: left;
              }
            }
          }
        }
      }
      &.pt12 {
        padding-top: 12%;
      }
    }
    .registerSuccess {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      .btnCostumize,
      .btnLogin {
        cursor: pointer;
        height: 65px;
        width: 60%;
        margin-top: 40px;
        border: 1px solid $primary-color;
        background: white;
        color: $primary-color;
        border-radius: 0;
        font-size: 22px;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        font-weight: 600;
        &::before {
          content: "";
          background-color: white;
          width: 100%;
          height: 40px;
          position: absolute;
          left: -100%;
          transform: rotateZ(45deg);
        }
        &:hover {
          border: 1px solid $app-color;
          background: $app-color;
          color: white;
          filter: contrast(1.5);
          &::before {
            transition: all 0.4s ease;
            left: 100%;
          }
        }
      }
      .btnLogin {
        border: 1px solid $app-color;
        background: $app-color;
        color: white;
      }
    }
  }
  .back {
    position: absolute;
    top: 40px;
    left: 70px;
    font-size: 30px;
    color: $primary-color;
  }
  &.true {
    .bgWrap {
      width: 60%;
      height: 100%;
      max-height: 100vh;
    }
    .contentWrap {
      order: 0;
      padding: 0 7%;
    }
  }
}
